body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f1f1;
}

.container {
    background: rgb(227, 235, 218);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(114, 85, 85, 0.1);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #5100ff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
